<div class="sc-eInJlc hhtYRR">
    <div class="sc-gtfDJT fDoAGU">
        <div class="sc-fOICqy yCgsd" (click)="onClick()">
            <div>
                <button class="sc-hzDEsm iPCJYM">
                    <div class="sc-jeCdPy HEGZe"><span class="sc-cvbbAY llDqok" role="img"
                            aria-label="Create issue"><svg width="24" height="24" viewBox="0 0 24 24"
                                focusable="false" role="presentation">
                                <path
                                    d="M13 11V7a1 1 0 0 0-2 0v4H7a1 1 0 0 0 0 2h4v4a1 1 0 0 0 2 0v-4h4a1 1 0 0 0 0-2h-4z"
                                    fill="currentColor" fill-rule="evenodd"></path>
                            </svg></span>
                    </div>
                </button>
            </div>
            <div class="sc-jtRlXQ hGKGop"></div>
        </div>
    </div>
</div>