<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="grid invoice">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3 text-right">
                        <button [disabled]="invoiceSaveStatus" (click)="onSave()" class="btn btn-sm btn-white m-b-10 p-l-5">
                            <i class="fa fa-save t-plus-1 fa-fw fa-lg"></i>Save</button>
                        <button [disabled]="!invoiceSaveStatus" [useExistingCss]="true" printSectionId="print-body" ngxPrint class="btn btn-sm btn-white m-b-10 p-l-5"><i
                                class="fa fa-print t-plus-1 fa-fw fa-lg"></i>Print</button>
                    </div>
                </div>
                <div class="grid-body" id="print-body">
                    <div class="invoice-title">
                        <h1 height="35">Radharani Dresses</h1>
                        <br>
                        <h2>Invoice<br>
                            <span class="small">Order #{{invoiceId}}</span>
                        </h2>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <address>
                                <strong>Billed To:</strong><br>
                                {{clientForm.clientName}}<br>
                                {{clientForm.address?.storeName}}<br>
                                {{clientForm.address?.address1}},
                                {{clientForm.address?.address2}}<br>
                                {{clientForm.address?.city}},
                                {{clientForm.address?.state}}<br>
                                {{clientForm.address?.country}},
                                {{clientForm.address?.zip}}<br>
                                <abbr title="Phone">P:</abbr> {{clientForm.mobile}}
                            </address>
                        </div>
                        <div class="col-6 text-right">
                            <address>
                                <strong>Order Date:</strong><br>
                                {{currentDate | date:'dd-MMM-yyyy'}}
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>ORDER SUMMARY</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="line">
                                        <td><strong>#</strong></td>
                                        <td class="text-center"><strong>Perticulars</strong></td>
                                        <td class="text-center"><strong>Amount</strong></td>
                                        <td class="text-right"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Qnty Type</strong></td>
                                        <td class="text-right"><strong>Sub Total</strong></td>
                                        <td class="text-right"><strong>Discount</strong></td>
                                        <td class="text-right"><strong>Total</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="font-size: 14px;" *ngFor="let item of billForm.items">
                                        <td class="text-left">{{item.slNo}}</td>
                                        <td class="text-center">{{item.perticulars}}</td>
                                        <td class="text-center">{{item.amount | indianCurrency}}</td>
                                        <td class="text-right">{{item.quanity}}</td>
                                        <td class="text-right">{{item.quantityType}}</td>
                                        <td class="text-right">{{item.total | indianCurrency}}</td>
                                        <td class="text-right">{{item.discount}}%</td>
                                        <td class="text-right">{{item.discountPrice | indianCurrency}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"></td>
                                        <td class="text-right" style="font-size: 14px;"><span>Total Qnty</span></td>
                                        <td class="text-right" style="font-size: 14px;"><span>{{totalQuantity}}</span></td>
                                        <td class="text-right" style="font-size: 14px;"><span>Pc</span></td>
                                        <td colspan="1"></td>
                                        <td class="text-right"><span>Subtotal</span></td>
                                        <td class="text-right"><span>{{billAmountDetails?.subTotalAmount |
                                                indianCurrency}}</span></td>
                                    </tr>
                                    <tr *ngIf="billAmountDetails?.overallDiscountAmount > 0">
                                        <td colspan="6"></td>
                                        <td class="text-right"><span>Overall Disc({{billAmountDetails?.overallDiscountPercentage}}%)</span></td>
                                        <td class="text-right">
                                            <span style="float: left; margin-left: 95px;" class="text-110 text-secondary-d1">-</span>
                                            <span>{{billAmountDetails?.overallDiscountAmount |
                                                indianCurrency}}</span></td>
                                    </tr>
                                    <tr *ngIf="billAmountDetails?.overallDiscountAmount > 0">
                                        <td colspan="6"></td>
                                        <td class="text-right"><span>Total</span></td>
                                        <td class="text-right"><span>{{billAmountDetails?.subTotalAmount - billAmountDetails?.overallDiscountAmount |
                                                indianCurrency}}</span></td>
                                    </tr>
                                    <tr *ngIf="billAmountDetails?.taxAmount > 0">
                                        <td colspan="6"></td>
                                        <td class="text-right">
                                            <span>Taxes
                                                ({{billAmountDetails?.taxPercentage}}%)</span></td>
                                        <td class="text-right">
                                            <span style="float: left; margin-left: 95px;" class="text-110 text-secondary-d1">+</span>
                                            <span>{{billAmountDetails?.taxAmount |
                                                indianCurrency}}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right"><span>Payment</span></td>
                                        <td class="text-right">
                                            <span style="float: left; margin-left: 95px;" class="text-110 text-secondary-d1">-</span>
                                            <span>{{paymentForm.paymentAmount ?
                                                paymentForm.paymentAmount : 0 |
                                                indianCurrency}}</span>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right"><strong>Grand Total</strong></td>
                                        <td class="text-right">
                                            <strong>{{billAmountDetails.grandTotalAmount -
                                                (paymentForm.paymentAmount ?
                                                paymentForm.paymentAmount : 0) |
                                                indianCurrency}}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-progress-spinner [mode]="mode" [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>