<mat-toolbar class="mat-primary">
    <span><a mat-button routerLink="/">Bill Generator</a></span>
    <span class="example-spacer"></span>
    <a matTooltip="Quick bill" mat-button class="docs-navbar-hide-small docs-button mr-5" routerLink="new-bill">
        <mat-icon>add_circle_outline</mat-icon>
    </a>
    <a mat-button class="docs-navbar-hide-small docs-button mr-5" routerLink="new-bill">New Bill</a>
    <a mat-button class="docs-navbar-hide-small docs-button mr-5" routerLink="new-payment">New Payment</a>
    <!-- <a mat-button class="docs-navbar-hide-small docs-button mr-5" routerLink="clients">Clients</a> -->
    <button mat-button class="docs-navbar-hide-small docs-button mr-5" [matMenuTriggerFor]="menuClient">Clients <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #menuClient="matMenu">
        <button mat-menu-item routerLink="clients/add">Add Client</button>
        <button mat-menu-item routerLink="clients/view-clients">View All Clients</button>
    </mat-menu>
    <a mat-button class="docs-navbar-hide-small docs-button mr-5" routerLink="particulars">Particulars</a>
    <a mat-button class="docs-navbar-hide-small docs-button mr-5" [matMenuTriggerFor]="menuReport">Reports <mat-icon>arrow_drop_down</mat-icon></a>
    <mat-menu #menuReport="matMenu">
        <button mat-menu-item routerLink="reports/sells">Sell Report</button>
        <button mat-menu-item routerLink="reports/collection">Collection Report</button>
        <button mat-menu-item routerLink="reports/tradebook">Tradebook</button>
        <button mat-menu-item routerLink="reports/client">Client Report</button>
        <button mat-menu-item routerLink="reports/particulars">Particulars Report</button>
        <button mat-menu-item routerLink="reports/clientOutstanding">Client Outstanding Report</button>
    </mat-menu>
    <button mat-button class="docs-navbar-hide-small docs-button mr-5" [matMenuTriggerFor]="menuSettings"><mat-icon>settings</mat-icon></button>
    <mat-menu #menuSettings="matMenu">
        <button mat-menu-item><mat-icon>account_circle</mat-icon> Profile</button>
        <button mat-menu-item routerLink="purchase"><mat-icon>shopping_cart</mat-icon> Purchases</button>
    </mat-menu>

    <!-- <a routerLink="/new-bill" mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base mr-5">
        <span class="mat-button-wrapper">New Bill</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </a>
    <a routerLink="/clients" mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base mr-5">
        <span class="mat-button-wrapper">Clients</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </a>
    <a routerLink="/particulars" mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base mr-5">
        <span class="mat-button-wrapper">Particulars</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </a>
    <a routerLink="/reports" mat-button class="mat-focus-indicator docs-navbar-hide-small docs-button mat-button mat-button-base mr-5">
        <span class="mat-button-wrapper">Reports</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </a> -->
</mat-toolbar>