<app-show-chart-toggler showButtonLabel="Show Monthly Sell" hideButtonLabel="Hide Monthly Sell" (status)="setStatus($event)"></app-show-chart-toggler>
<div *ngIf="showData">
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="monthlySellList" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-vertical>
</div>