<ng-template matStepLabel>Fill out your address</ng-template>
<form [formGroup]="billForm">
    <div style="margin-bottom: 10px;"></div>
    <div formArrayName="items" *ngFor="let product of billForm.get('items')['controls']; let i = index">
        <app-row-optn-on-hover *ngIf="billForm.get('items').length > 1 && billForm.valid" (addButtonClicked)="addRowAbove($event, i)"></app-row-optn-on-hover>
        <div class="form-row mt-1" #formRow [formGroupName]="i">
            <div class="col-1">
                <input type="number" class="form-control" placeholder="Sl No" formControlName="slNo">
            </div>
            <div class="col-3">
                <input type="text" #inputToFocus class="form-control" placeholder="Perticulars" formControlName="perticulars" [ngbTypeahead]="search">
            </div>
            <div class="col-2">
                <input type="number" class="form-control" placeholder="Amount" formControlName="amount" (change)="onAmountChange(i)">
            </div>
            <div class="col-1">
                <input type="number" class="form-control" placeholder="Qnt" formControlName="quanity" (change)="onQntyChange(i)">
            </div>
            <div class="col-1">
                <select class="form-control" id="qnt" formControlName="quantityType">
                    <option *ngFor="let qntType of qntTypes" [ngValue]="qntType.id">{{qntType.value}}</option>
                </select>
            </div>
            <div class="col-2">
                <input type="number" class="form-control" placeholder="Total" formControlName="total" [value]="product['amount']">
            </div>
            <div class="col-2">
                <mat-checkbox class="mr-2" formControlName="verified" (change)="verifyRow(i, $event)">Verified
                </mat-checkbox>
                <input type="button" class="btn btn-danger mr-2" value="R" (click)="removeRow(i)">
            </div>

        </div>
    </div>
</form>
<div class="col text-center">
    <button class="btn-class mt-2" [disabled]="!billForm.valid" mat-flat-button color="primary" (click)="addRow()">Add</button>
</div>