<ng-template matStepLabel>Fill out your address</ng-template>
<div class="row mt-1">
    <div class="col-1 text-center">Sl No</div>
    <div class="col-2 text-center">Perticulars</div>
    <div class="col-1 text-center">Amount</div>
    <div class="col-1 text-center">Qnt</div>
    <div class="col-1 text-center">Qnt Type</div>
    <div class="col-1 text-center">Discount</div>
    <div class="col-3  text-center">
        <div class="row">
            <div class="col-6">Total</div>
            <div class="col-6">Dis. Price</div>
        </div>
    </div>
    <div class="col-2 text-center">Action</div>
</div>
<form [formGroup]="billForm">
    <div style="margin-bottom: 10px;"></div>
    <div formArrayName="items" *ngFor="let product of billForm.get('items')['controls']; let i = index">
        <app-row-optn-on-hover *ngIf="billForm.get('items').length > 1 && billForm.valid" (addButtonClicked)="addRowAbove($event, i)"></app-row-optn-on-hover>
        <div class="form-row mt-1" #formRow [formGroupName]="i">
            <div class="col-1">
                <input type="number" class="form-control" placeholder="Sl No" formControlName="slNo">
            </div>
            <div class="col-2">
                <input type="text" #inputToFocus class="form-control" placeholder="Perticulars" formControlName="perticulars" (selectItem)="selectedItem($event, i)" [ngbTypeahead]="search">
            </div>
            <div class="col-1">
                <input type="number" class="form-control" placeholder="Amount" formControlName="amount" (change)="onChange(i)">
            </div>
            <div class="col-1">
                <input type="number" class="form-control" placeholder="Qnt" formControlName="quanity" (change)="onChange(i)">
            </div>
            <div class="col-1">
                <select class="form-control" id="qnt" formControlName="quantityType">
                    <option *ngFor="let qntType of qntTypes" [ngValue]="qntType.id">{{qntType.value}}</option>
                </select>
            </div>
            <div class="col-1">
                <input type="number" class="form-control" placeholder="discount" formControlName="discount" (change)="onChange(i)">
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Total" formControlName="total">
                    </div>
                    <div class="col-6">
                        <input type="number" class="form-control" placeholder="Total" formControlName="discountPrice">
                    </div>
                </div>
            </div>
            <div class="col-2">
                <mat-checkbox class="mr-2" formControlName="verified" (change)="verifyRow(i, $event)">Verified
                </mat-checkbox>
                <input type="button" class="btn btn-danger mr-2" value="R" (click)="removeRow(i)">
            </div>

        </div>
    </div>
</form>
<div class="col text-center">
    <button class="btn-class mt-2" mat-flat-button color="primary" (click)="addRow()">Add</button>