<div class="content">
    <app-billing-client></app-billing-client>
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <!-- FORM START -->
    <form [formGroup]="billForm">
        <div formArrayName="items" *ngFor="let product of billForm.get('items')['controls']; let i = index">
            <app-row-optn-on-hover *ngIf="billForm.get('items').length > 1 && billForm.valid" (addButtonClicked)="addRowAbove($event, i)"></app-row-optn-on-hover>
            <div class="form-row mt-1" #formRow [formGroupName]="i">
                <div class="col-1">
                    <input type="number" class="form-control" placeholder="Sl No" formControlName="slNo">
                </div>
                <div class="col-3">
                    <input type="text" #inputToFocus class="form-control" placeholder="Perticulars" formControlName="perticulars">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="Amount" formControlName="amount" (change)="onAmountChange(i)">
                </div>
                <div class="col-1">
                    <input type="number" class="form-control" placeholder="Qnt" formControlName="quanity" (change)="onQntyChange(i)">
                </div>
                <div class="col-1">
                    <select class="form-control" id="qnt">
                        <option class="form-text" value="pc">Pc</option>
                        <option value="form-text" value="dz">Dz</option>
                    </select>
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="Total" formControlName="total" [value]="product['amount']">
                </div>
                <div class="col-2">
                    <input type="button" class="btn btn-danger mr-2" value="R" (click)="removeRow(i)">
                    <mat-checkbox formControlName="verified" (change)="verifyRow(i, $event)">Verified</mat-checkbox>
                </div>

            </div>
        </div>
    </form>
    <div class="col text-center">
        <button class="btn-class mt-2" [disabled]="!billForm.valid" mat-flat-button color="primary" (click)="addRow()">Add</button>
    </div>
    <!-- <input type="button" value="Add" (click)="addRow()" class="btn btn-primary mt-2"> -->
    <!-- FORM END -->
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <app-billing-summary [subTotalBill]="subTotalBillAmount" (billAmountDetails)="setBillAmountDetails($event)">
    </app-billing-summary>
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <app-payment (paymentFormData)="setPaymentFormData($event)"></app-payment>
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <div class="col text-center">
        <button mat-flat-button color="primary" [disabled]="!billForm.valid" (click)="onPrintBill()">Print Bill</button>
    </div>
</div>