<div class="container">
    <button style="margin-left: 24px;" *ngIf="showNewBill" mat-button color="primary" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary" (click)="onReset()">Create Another Bill</button>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="clientForm" [editable]="!showNewBill">
            <ng-template matStepLabel>Fill Client Details</ng-template>
            <app-billing-client (clientFormData)="setClientFormData($event)"></app-billing-client>
            <div>
                <button mat-button matStepperNext color="primary" [disabled]="!clientForm.valid" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="billSettingForm" [editable]="!showNewBill">
            <ng-template matStepLabel>Bill Settings</ng-template>
            <ng-template matStepContent>
                <app-bill-setting (billSettingFormData)="setBillSettingFormData($event)"></app-bill-setting>
                <div>
                    <button mat-button matStepperPrevious color="warn" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Back</button>
                    <button mat-button matStepperNext color="primary" [disabled]="!billSettingForm.valid" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Next</button>
                </div>
            </ng-template>
        </mat-step>
        <mat-step [stepControl]="billForm" [editable]="!showNewBill">
            <ng-template matStepLabel>Bill
                <span *ngIf="subTotalBillAmount > 0">Amount: {{subTotalBillAmount | indianCurrency }}</span>
            </ng-template>
            <ng-template matStepContent>
                <app-billing (billFormData)="setBillFormData($event)" (subTotalBillAmount)="setSubTotalBillAmount($event)"></app-billing>
                <div>
                    <button mat-button matStepperPrevious color="warn" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Back</button>
                    <button mat-button matStepperNext color="primary" [disabled]="!billForm.valid" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Next</button>
                </div>
            </ng-template>
        </mat-step>
        <mat-step [stepControl]="remarkFormControl" [editable]="!showNewBill">
            <ng-template matStepLabel>Bill Summery</ng-template>
            <ng-template matStepContent>
                <app-billing-summary [billSetting]="billSettingForm.getRawValue()" [subTotalBill]="subTotalBillAmount" (billAmountDetails)="setBillAmountDetails($event)" (remarkFormControlData)="setRemarkFormControl($event)">
                </app-billing-summary>
                <div>
                    <button mat-button matStepperPrevious color="warn" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Back</button>
                    <button mat-button matStepperNext color="primary" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Print</button>
                </div>
            </ng-template>
        </mat-step>
        <mat-step [stepControl]="paymentForm" [editable]="!showNewBill">
            <ng-template matStepLabel>Payment</ng-template>
            <ng-template matStepContent>
                <app-bill-payment (paymentFormData)="setPaymentFormData($event)"></app-bill-payment>
                <div>
                    <button mat-button matStepperPrevious color="warn" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Back</button>
                    <button mat-button matStepperNext color="primary" [disabled]="!paymentForm.valid" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Next</button>
                </div>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Print Bill</ng-template>
            <ng-template matStepContent>
                <app-invoice (invoiceSaveStatusEmitter)="setShowNewBill($event)" [clientForm]="clientForm.getRawValue()" [billForm]="billForm.getRawValue()" [paymentForm]="paymentForm.getRawValue()" [billAmountDetails]="billAmountDetails" [remarkFormControl]="remarkFormControl.value">
                </app-invoice>
                <div>
                    <button mat-button matStepperPrevious color="warn" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Back</button>
                </div>
            </ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>