.content {
    max-width: 1100px;
    width: 75%;
    margin: 40px auto 0;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1299px;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #3f51b5!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #3f51b5;
}