<app-round-spinner *ngIf="showSpinner"></app-round-spinner>
<div [hidden]="showSpinner">
    <div class="col text-center">
        <button class="mt-2 mb-2" mat-flat-button color="primary" (click)="onNewBillClick()">Create a bill</button>
    </div>
    <div *ngIf="this.dataSource.data.length === 0">
        <app-no-result [h3TextInput]="'Result empty'" [pTextInput]="'There is no invoice for this client'">
        </app-no-result>
    </div>
    <div [hidden]="!(this.dataSource.data.length > 0)">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="invoiceDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice Date</th>
                <td mat-cell *matCellDef="let element"> {{element.invoiceDate}} </td>
            </ng-container>
            <ng-container matColumnDef="subTotalAmount">
                <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                <td mat-cell *matCellDef="let element"> {{element.subTotalAmount | indianCurrency}} </td>
            </ng-container>
            <ng-container matColumnDef="taxAmount">
                <th mat-header-cell *matHeaderCellDef>Tax</th>
                <td mat-cell *matCellDef="let element"> + {{element.taxAmount | indianCurrency}} </td>
            </ng-container>
            <ng-container matColumnDef="discountAmount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element"> - {{element.discountAmount | indianCurrency}} </td>
            </ng-container>
            <ng-container matColumnDef="payment">
                <th mat-header-cell *matHeaderCellDef>Payment</th>
                <td mat-cell *matCellDef="let element"> - {{element.payment.amount | indianCurrency}} </td>
            </ng-container>
            <ng-container matColumnDef="grandTotalAmount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grand Total</th>
                <td mat-cell *matCellDef="let element"> {{element.subTotalAmount + element.taxAmount - element.discountAmount - element.payment.amount | indianCurrency}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <a routerLink="/clients/{{element.clientId}}" mat-flat-button color="primary" class="mr-5">View</a> -->
                    <button class="mt-2 mb-2" mat-flat-button color="primary" (click)="onViewClick(element.invoiceId)">View</button>
                    <button class="mt-2 mb-2 ml-2" matTooltip="{{element.remarks}}" matTooltipPosition="right" mat-flat-button color="primary" (click)="onAddDiscountClick(element.invoiceId)">Add Discount</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>