<div class="content">
    <app-billing-client></app-billing-client>
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <!-- FORM START -->
    <form [formGroup]="billForm">
        <div formArrayName="items" *ngFor="let product of billForm.get('items')['controls']; let i = index">
            <div class="form-row mt-1" [formGroupName]="i">
                <div class="col-1">
                    <input type="number" class="form-control" placeholder="Sl No" formControlName="slNo">
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Perticulars" formControlName="perticularts">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="Amount" formControlName="amount" (change)="onAmountChange(i)">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="Quanity (in pc)" formControlName="quanity" (change)="onQntyChange(i)">
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" placeholder="Total" formControlName="total" [value]="product['amount']">
                </div>
                <div class="col-1">
                    <input type="button" class="btn btn-danger" value="R" (click)="removeRow(i)">
                </div>
            </div>
        </div>
    </form>
    <input type="button" value="Add" (click)="addRow()" class="btn btn-primary mt-2">
    <!-- FORM END -->
    <mat-divider class="mt-2 mb-2"></mat-divider>
    <app-billing-summary [subTotalBill]="subTotalBillAmount"></app-billing-summary>
</div>