table {
    width: 100%;
}

.starter-template {
    text-align: center;
}

.icon {
    cursor: pointer;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-column-select {
    overflow: initial;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #3f51b5 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-accent .mat-checkbox-background {
    background-color: #3f51b5;
}

::ng-deep .mat-checkbox .mat-accent .mat-checkbox-indeterminate {
    background-color: #3f51b5 !important;
}