<div class="container">
    <h2 class="starter-template">Particulars</h2>
    <div>
        <input type="search" (keyup)="doFilter($event.target.value)" placeholder="Search with name" class="form-control mb-2 mt-2">
    </div>
    <div>
        <button class="btn-class mt-2 mb-2" *ngIf="this.selection.selected.length > 0" (click)="onMultiDelete()" mat-flat-button color="primary">Delete Selected</button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.particularId}} </td>
        </ng-container>

        <ng-container matColumnDef="particulars">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.particularName}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon class="icon">edit</mat-icon>
                <mat-icon class="icon ml-5" (click)=onSingleDelete(element.particularId)>delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>