<div class="container">
    <button style="margin-left: 24px;" *ngIf="showNewPayment" mat-button color="primary" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary" (click)="onReset()">Create Another Payment</button>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="clientForm">
            <ng-template matStepLabel>Fill Client Details</ng-template>
            <app-billing-client (clientFormData)="setClientFormData($event)"></app-billing-client>
            <div>
                <button mat-button matStepperNext color="primary" [disabled]="!clientForm.valid" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Next</button>
            </div>
        </mat-step>
        <mat-step [stepControl]="paymentForm">
            <ng-template matStepLabel>Add Payment</ng-template>
            <ng-template matStepContent>
                <app-bill-payment [showOutstandingHtml]="true" [clientForm]="clientForm" (paymentFormData)="setPaymentFormData($event)"></app-bill-payment>
                <div>
                    <button mat-button matStepperPrevious color="warn" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Back</button>
                    <button mat-button matStepperNext color="primary" [disabled]="!paymentForm.valid" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Next</button>
                </div>
            </ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Payment Summery</ng-template>
            <ng-template matStepContent>
                <app-payment-summary (paymentSaveStatusEmitter)="setPaymentSaveStatusEmitter($event)" [clientForm]="clientForm" [paymentForm]="paymentForm"></app-payment-summary>
                <div>
                    <button mat-button matStepperPrevious color="warn" class="mat-focus-indicator btn-class mt-2 mr-2 mat-flat-button mat-button-base mat-primary">Back</button>
                </div>
            </ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>