.starter-template {
    padding: 55px 15px 15px 15px;
    text-align: center;
}

.required .control-label:after {
    content: "*";
    color: red;
}

.reqMark {
    color: red;
}

.not-required .control-label:after {
    content: "";
}

.custom-invalid-feedback {
    display: block;
    width: 100%;
    /* margin-top: .25rem; */
    font-size: 80%;
    color: #dc3545;
    padding: 0;
}