<div class="mt-2 text-center">
    <h3>{{selectedSeason.seasonName}}</h3>
    <p>
        {{selectedSeason.startDate | date : 'dd-MMM-yyyy'}} to {{selectedSeason.endDate | date : 'dd-MMM-yyyy'}}
    </p>
</div>

<button class="ml-2 mt-2 mb-2" (click)="onAddPurchaseClick()" mat-flat-button color="primary">Add Purchase</button>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Dashabord">
        <ng-template matTabContent>
            <app-dashboard></app-dashboard>
        </ng-template>
    </mat-tab>
    <mat-tab label="Purchases">
        <ng-template matTabContent>
            <app-purchases></app-purchases>
        </ng-template>
    </mat-tab>
</mat-tab-group>