<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="grid invoice">
                <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3 text-right">
                        <button [useExistingCss]="true" printSectionId="print-body" ngxPrint class="btn btn-sm btn-white m-b-10 p-l-5"><i
                                class="fa fa-print t-plus-1 fa-fw fa-lg"></i>Print</button>
                    </div>
                </div>
                <div class="grid-body" id="print-body">
                    <div class="invoice-title">
                        <h1 height="35">Radharani Dresses</h1>
                        <br>
                        <h2>Invoice<br>
                            <span class="small">Order #{{invoiceId}}</span>
                        </h2>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <address>
                                <strong>Billed To:</strong><br>
                                {{client?.clientName}}<br>
                                {{client?.address?.storeName}}<br>
                                {{client?.address?.addressLine1}},
                                {{client?.address?.addressLine2}}<br>
                                {{client?.address?.city}},
                                {{client?.address?.state}}<br>
                                {{client?.address?.country}},
                                {{client?.address?.zip}}<br>
                                <abbr title="Phone">P:</abbr> {{client?.mobile}}
                            </address>
                        </div>
                        <div class="col-6 text-right">
                            <address>
                                <strong>Order Date:</strong><br>
                                {{invoice?.invoiceDate | date:'dd-MMM-yyyy'}}
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>ORDER SUMMARY</h3>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="line">
                                        <td><strong>#</strong></td>
                                        <td class="text-center"><strong>Perticulars</strong></td>
                                        <td class="text-center"><strong>Amount</strong></td>
                                        <td class="text-right"><strong>Quantity</strong></td>
                                        <td class="text-right"><strong>Qnty Type</strong></td>
                                        <td class="text-right"><strong>Sub Total</strong></td>
                                        <td class="text-right"><strong>Discount</strong></td>
                                        <td class="text-right"><strong>Discount Total</strong></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="font-size: 14px;" *ngFor="let item of invoice?.invoiceDetails">
                                        <td class="text-left">{{item.slNo}}</td>
                                        <td class="text-center">{{item.perticulars}}</td>
                                        <td class="text-center">{{item.amount | indianCurrency}}</td>
                                        <td class="text-right">{{item.quanity}}</td>
                                        <td class="text-right">{{item.quantityType}}</td>
                                        <td class="text-right">{{item.total | indianCurrency}}</td>
                                        <td class="text-right">{{item.discountPercentage}}%</td>
                                        <td class="text-right">{{item.discountTotal | indianCurrency}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right"><strong>Subtotal</strong></td>
                                        <td class="text-right"><strong>{{invoice?.subTotalAmount |
                                                indianCurrency}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right">
                                            <strong>Taxes
                                                ({{invoice?.taxPercentage}}%) + </strong></td>
                                        <td class="text-right"><strong>{{invoice?.taxAmount |
                                                indianCurrency}}</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right"><strong>Payment - </strong></td>
                                        <td class="text-right"><strong>{{invoice?.paymentAmount ?
                                            invoice?.paymentAmount : 0 |
                                                indianCurrency}}</strong></td>

                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <td class="text-right"><strong>Total</strong></td>
                                        <td class="text-right">
                                            <strong>{{invoice?.grandTotalAmount -
                                                (invoice?.paymentAmount ?
                                                invoice?.paymentAmount : 0) |
                                                indianCurrency}}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-progress-spinner [mode]="mode" [backdropEnabled]="true" [positionGloballyCenter]="true" [displayProgressSpinner]="displayProgressSpinner">
</app-progress-spinner>