<app-show-chart-toggler showButtonLabel="Show Monthly Sell" hideButtonLabel="Hide Monthly Sell" (status)="setStatus($event)"></app-show-chart-toggler>
<div *ngIf="showData">
    <ngx-charts-bar-horizontal [view]="view" [scheme]="colorScheme" [results]="topBuyerList" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" (activate)="onActivate($event)" (deactivate)="onDeactivate($event)">
    </ngx-charts-bar-horizontal>
</div>