<div class="container">
    <mat-expansion-panel class="mt-2" [expanded]="true">
        <mat-expansion-panel-header>
            ClientDetails
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-client-details></app-client-details>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header>
            Invoice Details
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-invoice-details (createNewBill)="onNewBillClick($event)"></app-invoice-details>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel class="mt-2">
        <mat-expansion-panel-header>
            Payment Details
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <app-payment-details (createNewPayment)="onNewPaymentClick($event)"></app-payment-details>
        </ng-template>
    </mat-expansion-panel>
</div>