.section {
    max-width: 100%;
}

.text-center {
    text-align: center !important;
}

.state-process-h3 {
    font-weight: 400;
    font-family: Inter, sans-serif;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.state-process-container {
    width: 395px;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.state-process {
    margin: auto;
    text-align: center;
    margin-top: 10vh;
}

.state-process-container img {
    height: 140px;
    margin-bottom: 30px;
    width: auto;
}

.state-process-container svg {
    height: 140px;
    margin-bottom: 30px;
    width: auto;
}

#mainText {
    margin-bottom: 0;
}