<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Payment
            </mat-panel-title>
            <mat-panel-description>
                Total Payment: {{this.paymentForm.controls['paymentAmount'].value | indianCurrency}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="container">
            <div class="row show-outstanding" *ngIf="showOutstandingHtml && outstandingAmount > 0">
                <div class="col-3 align-self-center font-weight-bold">Current Outstanding: {{outstandingAmount | indianCurrency }}</div>
                <div class="col-3">
                    <button (click)="paymentFullClick()" mat-button class="mat-flat-button mat-button-base mat-primary">Pay full Amount</button>
                </div>
            </div>
            <form [formGroup]="paymentForm">
                <div class="row">
                    <div class="col-3">
                        <mat-form-field appearance="fill" class="mr-3">
                            <mat-label>Payment Date</mat-label>
                            <input [max]="maxDate" matInput [matDatepicker]="picker" formControlName="paymentDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Amount</mat-label>
                            <input matInput placeholder="Enter Amount" type="number" formControlName="paymentAmount">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Payment Mode</mat-label>
                            <mat-select formControlName="paymentMode">
                                <mat-option value="cash">Cash</mat-option>
                                <mat-option value="online">Online</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
    </mat-expansion-panel>
</mat-accordion>