<mat-accordion>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Bill Summary
            </mat-panel-title>
            <mat-panel-description>
                Grand Total: {{grandTotalAmount | indianCurrency}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row mt-3">
            <div class="col-12 col-sm-7 text-grey-d2 text-95 mt-2 mt-lg-0">
                Bill Breakdown
                <div style="margin-top: 20px;">
                    <mat-form-field style="width: 275px;" appearance="fill">
                        <mat-label>Remark<sup style="color: rgb(233, 22, 22);">*</sup></mat-label>
                        <textarea matInput [formControl]="remarkFormControl" [errorStateMatcher]="matcher" placeholder="Bill Remark"></textarea>
                        <mat-error *ngIf="remarkFormControl.hasError('required')">
                            Bill Remark is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-sm-5 text-grey text-90 order-first order-sm-last">
                <div class="row my-2">
                    <div class="col-7 col-sm-6 text-right"> SubTotal</div>
                    <div class="col-5 col-sm-6"> <span id="subTotalAmount" style="float: right;" class="text-120 text-secondary-d1">{{subTotalAmount
                            | indianCurrency}}</span></div>
                </div>
                <div class="row my-2">
                    <div class="col-7 col-sm-6 text-right"> Overall Disc. ({{overallDiscountPercentage}}%)</div>
                    <div class="col-5 col-sm-6">
                        <span style="float: left; margin-left: 95px;" class="text-110 text-secondary-d1">-</span>
                        <span id="overallDiscountAmount" style="float: right;" class="text-110 text-secondary-d1">{{overallDiscountAmount |
                            indianCurrency}}</span>
                    </div>
                </div>
                <mat-divider class="mt-2 mb-2"></mat-divider>
                <div class="row my-2 align-items-center bgc-primary-l3">
                    <div class="col-7 col-sm-6 text-right"> Amount</div>
                    <div class="col-5 col-sm-6"> <span style="float: right;" class="text-150 text-success-d3 opacity-2">{{subTotalAmount - overallDiscountAmount | indianCurrency}}</span>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-7 col-sm-6 text-right"> Tax ({{taxPercentage}}%)</div>
                    <div class="col-5 col-sm-6">
                        <span style="float: left; margin-left: 95px;" class="text-110 text-secondary-d1">+</span>
                        <span id="taxAmount" style="float: right;" class="text-110 text-secondary-d1">{{taxAmount |
                            indianCurrency}}</span>
                    </div>
                </div>
                <div *ngIf="roundOffAmount > 0">
                    <mat-divider class="mt-2 mb-2"></mat-divider>
                    <div class="row my-2">
                        <div class="col-7 col-sm-6 text-right"> Round Off</div>
                        <div class="col-5 col-sm-6">
                            <span style="float: left; margin-left: 95px;" class="text-110 text-secondary-d1">{{operationSymbol}}</span>
                            <span id="roundOffAmount" style="float: right;" class="text-110 text-secondary-d1">{{roundOffAmount |
                                indianCurrency}}</span>
                        </div>
                    </div>
                </div>
                <mat-divider class="mt-2 mb-2"></mat-divider>
                <div class="row my-2 align-items-center bgc-primary-l3">
                    <div class="col-7 col-sm-6 text-right"> Total Amount</div>
                    <div class="col-5 col-sm-6"> <span style="float: right;" class="text-150 text-success-d3 opacity-2">{{grandTotalAmount | indianCurrency}}</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>